RedirectMatch 404 /\.git
#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
#End Gzip

<IfModule pagespeed_module>
    ModPagespeed on
    ModPagespeedEnableFilters remove_comments,rewrite_javascript,rewrite_css,rewrite_images,move_css_to_head
    ModPagespeedEnableFilters convert_jpeg_to_webp
    ModPagespeedJpegRecompressionQuality -1
</IfModule>
